<button (click)="mostrarDatos()">  MOSTRAR DATOS  </button>

<form name="rsatest" onsubmit="do_encrypt();return false;">
  Plaintext (string):<br>
  <input name="plaintext" type="text" value="test" size="60"><br>
  <input type="button" value="encrypt" onclick="do_encrypt();">
  <p>
    Ciphertext (hex):<br>
    <textarea id="area1" class="area1" rows="4" cols="70" [ngModel]="keyEncriptado" name="ciphertext" (ngModelChange)="cambio($event)"></textarea><br>
    <input type="button" value="decrypt" onclick="do_decrypt();"></p>
  <p>
    Decrypted Plaintext (string):<br>
    <input name="decrypted" type="text" size="60"></p>
  <!--<p>
    Status:<br>
    <input name="status" type="text" size="60"></p>
 -->
</form>